
{%  extends "layout.html" %}


{% block content %}
<br>
    <div class='container'>
        <br>

          
        <form action="{{url_for('route_bp.upload_file')}}"
        class="dropzone"
        id="myAwesomeDropzone" placeholder="Drop file here to upload" style="border-radius: 5px; border-color: #8D5A97;border-style: dashed;">
        <div class="dz-message">  
            Drop `xlsx` or `csv` file here to upload (max 1000 rows).  First row must be column names.
        </div>
        <div class="" style="display: none;" >
            <input id="fallback-file" name="file" type="file" onchange="showProceed()" />
        </div>
        <div class="fallback">
            <input name="file" type="file" onchange="showProceed()" />
        </div>

        </form>
        <br>
        <a id='proceed' href="{{url_for('route_bp.data_columns')}}" class='btn btn-lg mt-4' style="background-color: #8D5A97;border-color: #8D5A97;  color: #fff;" form="myAwesomeDropzone" hidden>Proceed</a>
    </div>
 

    <script src='{{url_for("static",filename="js/dropzone.min.js") }}'> </script>

<script>
    Dropzone.options.myAwesomeDropzone = {
        maxFiles: 1,
        maxFilesize: 1, // MB
        accept: function(file, done) {
            
            if (file.type == "application/vnd.ms-excel" || file.type == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || file.type == "text/csv" ) {

                if(file.size < 200000){
                    done(document.getElementById('proceed').removeAttribute('hidden') ) ;
                } else {
                    done("File size too large"); 
                }
                
                
            }
            else { done("Not one of the supported file types"); }
        }
};



function showProceed(){


    document.getElementById("myAwesomeDropzone").setAttribute("enctype","multipart/form-data");
    document.getElementById("myAwesomeDropzone").setAttribute("method","post")
    document.getElementById("myAwesomeDropzone").submit(); 
    
    document.getElementById('proceed').removeAttribute('hidden');
}
</script>

{% endblock content %}