#ignore python cache
__pycache__/
.pytest_cache/

# ignore folders
documentation
other
flask_detre/documentation/site/
detre_blog

# ignore files
*.xlsx
*.csv

# venv
venv/

# Config
*.env

# logs
flask_detre/logs/
flask_detre/__pycache__/